@font-face {
	font-family: "Lucida Grande 2";
	src: url(lucidagrande.ttf);
}
* {
	font-family: "Avenir Next", "Avenir Next LT Pro", "Roboto", "Lucida Grande 2", Tahoma!important;
	line-height:130%;
	letter-spacing:-0.0016in;
}
p, ul {
	/* font-size: 96%; */
}
p.attr {
	font-size: 90%;
  line-height:90%;
  margin-bottom: -0.1in;
}
h1 {
	line-height:130%;
	letter-spacing:-0.01in;
}
body {
	padding-left: 12%;
	padding-right: 12%;
}