@font-face {
    font-family: "Lucida Grande 2";
    src: url(lucidagrande.ttf);
}
* {
font-family: "Lucida Grande 2", Tahoma!important;
line-height:130%;
letter-spacing:-0.0015in;
}
p, ul {
font-size: 96%;
}
.attr {
     line-height:90%;
     margin-bottom: -0.1in;
}
h1 {
font-family: "Lucida Grande 2", Tahoma!important;
line-height:130%;
letter-spacing:-0.01in;
}